*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.p12
/icon
session-*.md
.env
*.env
keystore.properties
secrets.properties
shizuku.apk
/assets/
